.paraTi {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;

    a {
        color: #ffffffb8;
        font-size: 18px;
        font-weight: 900;
        line-height: 1;
        position: relative;
        text-decoration: none;
    }
}

.active {
    color: #fff !important;
}

.active::after {
    content: "";
    background-color: #fff;
    border-radius: 20%;
    bottom: -8px;
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 20px;
}
